html {
  box-sizing: border-box;
  background-image: url("https://images.unsplash.com/photo-1569248008810-cab0463f82e9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
  object-fit: fill;
}

body {
  background-color: rgba(208, 213, 218, 0);
  color: #121214;
  margin: 1% 26% 1% 28%;
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

.container {
  background: rgba(18, 18, 20, 0.1);
  border-radius: 10px;
  size: 20vmin;
}

h1 {
  display: block;
  text-align: center;
  margin-top: 2rem;
  padding-top: 10px;
  margin-bottom: 3rem;
  color: black;
  font-family: "Titillium Web", sans-serif;
}

strong {
  letter-spacing: 1.5px;
  color: rgba(18, 18, 20, 0.8);
  font-family: "Titillium Web", sans-serif;
}

em {
  letter-spacing: 2px;
  color: #fbff3c;
}

bold {
  color: black;
}

.city {
  font-size: 24px;
}

legend {
  font-weight: 900;
  font-family: "Titillium Web", sans-serif;
  font-size: 48px;
  /* letter-spacing: 2px; */
  margin-top: -23px;
  margin-bottom: -25px;
  color: #fbff3c;
}

#converter {
  text-decoration: none;
  font-family: "Titillium Web", sans-serif;
  color: #fbff3c;
  font-size: 24px;
  letter-spacing: 2px;
  position: relative;
  top: -20px;
  right: 7px;
}

#fahrenheit {
  font-size: 20px;
}

.active {
  color: black;
  /* text-decoration: none; */
  font-family: "Titillium Web", sans-serif;
  cursor: default;
  font-size: 24px;
  letter-spacing: 2px;
  position: relative;
  top: -20px;
}

.degrees-max {
  text-decoration: none;
  color: #fbff3c;
}

.degrees-max:hover {
  color: rgb(18, 18, 20);
  text-decoration: none;
}

.degrees-min {
  text-decoration: none;
  color: #fbff3c;
}

.degrees-min:hover {
  color: rgb(18, 18, 20);
  text-decoration: none;
}

.date {
  color: rgb(18, 18, 20);
  font-family: "Titillium Web", sans-serif;
  font-size: 24px;
}

.col-4 {
  font-size: 20px;
}

.slogan {
  display: inline;
  font-size: 20px;
  font-style: italic;
  color: #fbff3c;
}

#description {
  font-size: 18px;
}

.todays-additional-weather {
  text-align: left;
  margin-left: -13px;
}

.user-input {
  border-radius: 10px;
  margin-left: -5px;
  margin-top: 5px;
}

.navbar {
  border-radius: 8px;
  margin-left: -10px;
}

.btn-outline-dark {
  margin-top: 4px;
}

.forecast {
  position: relative;
  top: -5px;
  border-radius: 4px;
  color: #fbff3c;
  font-family: "Titillium Web", sans-serif;
  margin: -10px;
}

.dateForecast {
  color: black;
}

.current {
  margin: 0px 25px;
  padding-top: 29px;
}

h3 {
  color: black;
  font-size: 1.5rem;
  margin: 1px 0px;
  display: block;
  padding: 0px;
}

h4 {
  color: #282828;
}

.col-5 {
  display: block;
  position: relative;
  left: 10%;
  padding-bottom: 40px;
}

.col-12 {
  background-color: rgba(245, 245, 245, 0.1);
  text-align: center;
  margin: 0px -0px 0px -50px;
  border-radius: 10px;
  padding: 0pt 0pt 10pt;
}

.form-control {
  background-color: rgba(245, 245, 245, 0);
}

footer {
  font-family: "Titillium Web", sans-serif;
  position: relative;
  padding: 30px 0px;
  text-align: center;
  opacity: 90%;
  color: aliceblue;
}

#sourcedCode {
  color: #fbff3c;
}
